

<div class="content_wrapper">
  <div id="logoStyle"><img src="/site_images/icon_and_text.png" class="content_logo"></div>

  <h1 id="notStyle">We are not in the business of training.</h1>
  <hr>
  <p id="aboutStyle" style="line-height:2;font-size: 150%;color:#939393;">
  TrainingSeeker is an online marketplace startup dedicated to connecting training seekers with certified and trusted training providers.
  Based out of The Forge startup accelerator at McMaster University’s Innovation Park in Hamilton Ontario, we are taking the challenge out of finding, choosing and booking occupational and recreational skill-enhancing training.
  We aim to take endless web searches, manual bookings, unhappy training seekers and make it all a thing of the past.
  Our goal is to give people the information they deserve and make it available to as many people as possible.
  </p>
  <h1 id="business" style="text-align:center;">We are in the business of sharing information and connecting people.</h1>
  <hr/>
  <h1 id="theTeam">Meet the TrainingSeeker team</h1>


  <h2 id="center">Marko Babic</h2>
  <h2 id="center">Founder and Chief Executive Officer</h2>
  <div id="markoPic"><img src="/site_images/marko_profile_picture_150_150.jpg" id="markoImage" style="display:inline;top:-10%;"></div>
  <div id="center">
    <br/>
    <%= link_to "https://twitter.com/iammarkobabic",target:"_blank" do
        image_tag("/site_images/icons/twitter_color_150.png", alt:"trainingseeker on twitter",width:"41", height:"41", onmouseover: "this.src='#{asset_path("/site_images/icons/twitter_gray_150.png")}'", onmouseout: "this.src='#{asset_path("/site_images/icons/twitter_color_150.png")}'")
    end %>
    <%= link_to "https://www.linkedin.com/in/babicmarko/",target:"_blank" do
        image_tag("/site_images/icons/linkedin_color_48.png", alt:"Marco Linkedin",width:"41", height:"41", onmouseover: "this.src='#{asset_path("/site_images/icons/linkedin_gray_48.png")}'", onmouseout: "this.src='#{asset_path("/site_images/icons/linkedin_color_48.png")}'")
    end %>
  <br/>
  </div>
<br/>



  <p id="markoDesc">
    Marko Babic founded TrainingSeeker in Hamilton, Ontario in 2016. Prior to starting TrainingSeeker, Marko has served with The North Atlantic Treaty Organisation, the Government of Alberta and the Canadian Armed Forces Army and Naval Reserves for over 12 years, first as a non-commissioned member and now as an officer.
    While working in the occupational safety training and management field in Calgary, Alberta, Marko envisioned building TrainingSeeker with the goal of advancing access to quality training by leveraging the power of online marketplaces.
    He has a bachelor’s degree in History from McMaster University, his National Construction Safety Officer Designation from the Alberta Construction Safety Association and multiple occupational health & safety instructor qualifications.
  </p>
  <hr/>
  <h2 id="center">Harry Fairbanks</h2>
  <h2 id="center">Lead Software Engineer</h2>
  <div id="harryPic" ><img src="/site_images/harry_profile_picture_150_150.jpg" id="harryImage"></div>
  <div id="center">
    <br/>
    <%= link_to "https://www.linkedin.com/in/harryfairbanks/",target:"_blank" do
        image_tag("/site_images/icons/linkedin_color_48.png", alt:"Harry Linkedin",width:"41", height:"41", onmouseover: "this.src='#{asset_path("/site_images/icons/linkedin_gray_48.png")}'", onmouseout: "this.src='#{asset_path("/site_images/icons/linkedin_color_48.png")}'")
    end %>
  <br/>
  </div>
  <br/>
  <p id="harryDesc">
    Harry is responsible for building TrainingSeeker. He has joined the company as a software engineer with over 8 years of experience in developing online software solutions for individual and corporate clients. He believes in focusing on user needs and creating easily extensible, reusable, and robust software.
    Harry has served with the Canadian Armed Forces Army Reserves for over 18 years, first as a non-commissioned member and now as an officer. He has a degree in History and Philosophy from St. Thomas University (CA) and a diploma in Information Technology/Computer Programming from Nova Scotia Community College.
  </p>
  <hr/>


  <div id="info">
    <h2>Contact Us</h2>
    <h3>
    Team TrainingSeeker<br/>
    175 Longwood Road South Suite 301A<br/>
    Hamilton ON<br/>
    L8P 0A1<br/>
    <a class="orange_links" href="mailto:info@trainingseeker.com?Subject=Contact%20us" target="_top">info@trainingseeker.com</a>
    <br/>
    <h3>
  </div>
</div>
