
<div class="content_wrapper">
  <div id="betaLogo" style="color:#0032a1;text-align:center;padding-top:2%;" ><img src="/site_images/icon_and_text.png" class="content_logo"></div>
  <h1 id="center">Secure Early Access to TrainingSeeker</h1>
  <div id="center" class="provider_faq_p">
    TrainingSeeker aims to be the most trusted training ecosystem.<br/>
    Connecting training seekers with carefully vetted service providers.<br/>
    Register your details now and we’ll contact you to claim your profile page.<br/>
    Beta Launch in Early 2017.</br/>

    <%= link_to "http://eepurl.com/clUNXL",target:"_blank" do
        image_tag("/site_images/subscribe_button.png",alt:"subscribe",width:"210",height:"99", onmouseover: "this.src='#{asset_path("/site_images/subscribe_button_gray.png")}'", onmouseout: "this.src='#{asset_path("/site_images/subscribe_button.png")}'")
    end %>

    <br/>
  </div>
</div>
