
<div class="content_wrapper">
<div style="padding-top:2%;text-align:center;" >
  <img src="/site_images/icon_and_text.png" class="content_logo">
  <h2 style="text-align:center;">Be part of the TrainingSeeker story</h2>


<p class="static_page_p">
  We’re a game changer in an industry that desperately needs a shakeup.
  <br/>
  We’re granting opportunities to those who want to give it their all and find their opportunity.
  <br/>
</p>


</div>
<hr>
  <table class="tablepress" id="table">
    <tr>
      <th>Position</th>
      <th>Department</th>
      <th>Location</th>
      <th>Job Description</th>
    <tr>
    <tr class="tablepress_1">
      <td>Media Operations Manager</td>
      <td>Internship</td>
      <td>Hamilton, ON</td>
      <td>
        <%= link_to "PDF", asset_path("/pdfs/2017_MEDIA_OPERATIONS_MANAGER_VOLUNTEER.pdf"),target:"_blank",class:"orange_links" %>
      </td>
    <tr>
    <tr class="tablepress_2">
      <td>Business Strategist</td>
      <td>Internship</td>
      <td>Hamilton, ON</td>
      <td>
        <%= link_to "PDF", asset_path("/pdfs/2017_STRATEGIST_VOLUNTEER.pdf"),target:"_blank",class:"orange_links"  %>
      </td>
    <tr>
  </table>
</div>
