
<div class="content_wrapper">
  <h1 id="providerFaq">PROVIDER FAQ</h1>
  <h3>What is TrainingSeeker?</h3>
  <p class="static_page_p">
  TrainingSeeker offers training seekers a world class booking system where they can search all kinds of training and research courses available within their search parameters.
  Just like Expedia or TripAdvisor is travel, TrainingSeeker is aimed to give consumers the ability to search, compare and purchase training with providers that are recommended and recognized as quality trainers.
  </p>
  <hr/>
  <h3>Are you a training provider interested in reaching more training seekers?</h3>
  <p class="static_page_p">
  List your course calendar and on-site training services with TrainingSeeker and experience an easy, simple solution to fill those empty seats.
  Our industry specific network and online marketplace expose training seekers across Canada to the most extensive training options available.
  With our world class online administration tool, providers will now be able to access consumers that were once out of reach due to inefficient marketing methods that included: word of mouth, free advertising or trying really really hard to get people to come to their website.
  </p>
  <hr/>
  <h3>What makes TrainingSeeker unique?</h3>
  <p class="static_page_p">
  Our team has created a one of a kind online marketplace where training seekers can easily search, compare, and register for in-person, on-site or online training.
  We use our marketplace to connect qualified trainers with eager training seekers by providing comprehensive information about course content, dates, and costs all in one place.
  Through our marketplace, trainers can interact directly with seekers by reminding them of upcoming training expiry dates and seekers can search out qualified trainers whose course offerings best match their needs.
  </p>
  <hr/>
  <h3>How does TrainingSeeker market your courses and business?</h3>
  <p class="static_page_p">
    TrainingSeeker is a comprehensive online training marketplace that gives individual and corporate training seekers a comprehensive overview of your training schedule and on-site offerings.
    Instead of marketing for yourself, with doubtable returns on your energy and dollars spent, TrainingSeeker links you to human resource and training managers nationwide.
  </p>
  <hr/>
  <h3>How many registrations and on-site training requests can I expect each month?</h3>
  <p class="static_page_p">
  Our dedicated team is here to help you maximize your TrainingSeeker experience to ensure that you are getting the full benefits of our marketplace.
  Increasing your customer base by reaching new markets is what TrainingSeeker is geared to do. Information sharing, marketing, and a simplified payment system ease your workload and improve your business.
  Listing your full course catalog with as much detail as possible and signing up for our featured category advertising will improve your reach to new customers and make you stand out amongst the competition.
  </p>
  <hr/>
  <h3>How long does it take for my courses to appear in a TrainingSeeker search?</h3>
  <p class="static_page_p">
    Instantly!<br/>
    Your courses will appear in TrainingSeeker search results moments after successfully uploading your company profile and course catalog.
  </p>
  <hr>
  <h3>How much does it cost to list my courses?</h3>
  <p class="static_page_p">
    Short Answer: FREE
    Long Answer: Register before 31 January 2017 and TrainingSeeker will cover all your account setup fees. After that, we don’t get paid unless we put a student in your seat for as long as you remain with us.
    To get more information about TrainingSeeker and how we can improve your business, please email us at   <a class="orange_links" href="mailto:info@trainingseeker.com?Subject=Contact%20us" target="_top">info@trainingseeker.com</a>
  </p>
  <hr/>
  <h3 id="center">Download Our Business Profile</h3>
  <div id="center">

    <%= link_to "/pdfs/20_jan_17_business_profile_trainingseeker.pdf",target:"_blank" do
        image_tag("/site_images/business_profile.png",alt:"business_profile_pdf", style:"border-color:blue; border-style: solid;
    border-width: 1px;", onmouseover: "this.src='#{asset_path("/pdfs/biz_plan_gray.png")}',this.style.borderColor='orange'", onmouseout: "this.src='#{asset_path("/site_images/business_profile.png")}',this.style.borderColor='blue'")
    end %>

  </div>
  <hr>
  <h3 id="center">Secure Early Access to TrainingSeeker</h3>
  <div id="center" class="static_page_p">
    TrainingSeeker aims to be the most trusted training ecosystem.<br/>
    Connecting training seekers with carefully vetted service providers.<br/>
    Register your details now and we’ll contact you to claim your profile page.<br/>
    Beta Launch in Early 2017.</br/>

    <%= link_to "http://eepurl.com/clUNXL",target:"_blank" do
        image_tag("/site_images/subscribe_button.png",alt:"subscribe",width:"210",height:"99", onmouseover: "this.src='#{asset_path("/site_images/subscribe_button_gray.png")}'", onmouseout: "this.src='#{asset_path("/site_images/subscribe_button.png")}'")
    end %>

    <br/>
  </div>
</div>
