<div class="content_wrapper">
  <h1>Editing Course Name</h1>

  <%= render 'form', course_name: @course_name %>

  <%= link_to 'Show', @course_name %> |
  <%= link_to 'Back', course_names_path %>
</div>
