<div class="content_wrapper">
  <h1>Editing Course Alias</h1>

  <%= render 'form', course_alias: @course_alias %>

  <%= link_to 'Show', @course_alias %> |
  <%= link_to 'Back', course_aliases_path %>
</div>
